* {
  font-family: "Caveat", cursive;
  margin: 0;
  padding: 0;
}

:root {
  --color: #d5fff3;
  --font: #000;
  --btn: #141400;
}

.dark-mode {
  --color: #0f110c;
  --font: #fff;
  --btn: #144b26;
}

body {
  background-color: var(--color);
  color: var(--font);
}

#space {
  padding: 40px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 8vmin;
}

#mode {
  margin-right: 40px;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.winner {
  display: flex;
  text-align: center;
  justify-content: center;
}

.hide {
  display: none !important;
}

.reset {
  display: flex;
  justify-content: center;
  align-items: center;
}

#reset-btn {
  padding: 10px 25px 10px 25px;
  background-color: var(--btn);
  color: #fff;
  font-size: 4vmin;
  padding: px;
  border-radius: 1rem;
  border: none;
  box-shadow: 10px 10px 5px var(--shadow);
}

#reset-btn:hover {
  transform: scale(1.2);
}

.after-win {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30vmin 100px 30vmin 100px;
  color: var(--font);
  font-size: 4.5rem;
}
